{% extends "home.html" %}




    {% block main %}
    <main>
      <section id="proposal-form">
        <h2 class="t-h">PROPOSE AN EVENT <img class="contant-logo" src="images/edit.png" alt=""></h2>
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="input-field">
            <input type="text" id="event-title" name="event" value="{{ event.event }}" placeholder=" " required />
            <label for="event-title">Event Title</label>
          </div>

          <div class="input-field">
            <input type="date" id="event-date" name="date" value="{{ event.date }}" required />
            <label for="event-date">Date</label>
          </div>

          <div class="input-field">
            <input type="text" id="event-venue" placeholder=" " value="{{ event.vanue }}" name="venue" required />
            <label for="event-venue">Venue</label>
          </div>

          <div class="input-field">
            <input type="file" id="event-venue" placeholder=" " name="image" required />
            <label for="event-description">Upload Image</label>
          </div>

          <button type="submit">Submit Proposal</button>
        </form>
      </section>
    </main>
    {% endblock main %}
    
