{% extends "home.html" %}

{% block main %}
<main class="main-content">
  <section id="registration-form" style="height: 323px;  justify-contant: center; align-contant: center;">
      <div style="height: 300px;  justify-contant: center;">

          <h3 style='padding-top: 100px; padding-left: 30px; color: green'>The Proposal Event  succesfully submited 👍 !</h3>
          <h3 style=' padding-left: 180px;'><a href="{% url "proposal"%}">Go Back</a></h3>
          
      </div>
  </section>
</main>
{% endblock main %}